__pycache__/
__MACOSX/
.idea/
.gradle/
*.dll
*.class
*.java.out
x64/
.vs/
bin/
obj/
Debug/
Release/
packages/
node_modules/
.local/
.project/
.settings/
.objects/
.screenshots/
.cmake/
cmake-build-debug/
cmake-build-debug-coverage/
PPD_Temp/
untitled/input
untitled/output
ZecelaExamene/
CLisp/
magazin/static/

*.pdf
*.zip
*.rar
*.png
*.jpg
*.jpeg
*.gif
*.docx
*.doc
*.bmp
*.lnk
*.mp3
*.mp4
*.exe
Rezultate*.txt