body{
  margin: 10%;
}

.container{
  display: inline-grid;
  grid-gap: 5px;
  padding: 10px;
}

.box{
  box-sizing: content-box;
  padding: 10px;
  border: 1px solid transparent;
  transition: border-color 2.3s;
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.box:hover{
  background-color: #f1f1f1;
  border: 1px solid #605c5c;
}
