<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="db"
			providerName=""
			connectionString="Data Source=DESKTOP-GAQSC82; Initial Catalog=Sporturi; Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="ParentTable" value="Persoane" />
    <add key="ChildTable" value="MesajeData" />
    <add key="ParentPkCol" value="id" />
    <add key="ParentFkCol" value="persoana_id" />
    <add key="ChildPkCol" value="id" />
    <add key="RelationName" value="FK__Sporturi__catego__1209AD79" />
  </appSettings>
</configuration>