{% extends 'base.html' %}

{% block css %}
<style>
h1,h2,h3,h4,h5,h6{
    margin-top: 3rem;
}
h1{
    font-size: 250%;
    text-align: center;
}
h2{
    font-size: 200%;
    padding-left: 3rem;
}
h3{
    font-size: 125%;
}
.w-90{
    width: 90%;
}
img{
    display: block;
    width: 90vw;
}
</style>
{% endblock %}

{# <i class="fa-solid fa-angle-down"></i> #}

{% block content %}


<div class="d-block w-100 fs-3 m-2 p-3 pt-0">
    <h1>Informaţii</h1>
    <div class="flex-shrink-0 p-2 pb-0 bg-white w-auto">
<p class="d-flex align-items-center pb-3 mb-3 text-decoration-none border-bottom">
  <span class="fs-1 fw-semibold">Cuprins</span>
</p>
<ul class="list-unstyled ps-0 fs-2">
  <li class="mb-2">
    <a href="#introducere" class="p-3 link-dark text-decoration-none align-items-center rounded collapsed">
      Introducere
    </a>
  </li>
  <li class="mb-1">
    <a href="#cerintetehnice" class="p-3 link-dark text-decoration-none align-items-center rounded collapsed">
      Cerinte tehnice
    </a>
  </li>
  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed fs-2" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
      Instrucţiuni <i class="fa-solid fa-angle-down"></i>
    </button>
    <div class="collapse fs-3" id="dashboard-collapse" style="">
      <ul class="btn-toggle-nav fw-normal pb-1 fs-2 text-decoration-none">
        <li><a href="#login" class="link-dark rounded text-decoration-none">Login</a></li>
        <li><a href="#acasa" class="link-dark rounded text-decoration-none">Acasă</a></li>
        <li><a href="#activitati" class="link-dark rounded text-decoration-none">Activităţi</a></li>
        <li><a href="#cont" class="link-dark rounded text-decoration-none">Cont</a></li>
      </ul>
    </div>
  </li>
</ul>
</div>

    <h2 id="introducere">Introducere</h2>
    <p>Această aplicaţie web a fost creeată pentru monitorizarea angajaţilor. Monitorizarea constă în salvarea locaţiei, a datei şi orei activităţilor la locul de muncă. </p>

    <h3 id="cerintetehnice">Cerinţe tehnice minime</h3>
    <ul class="">
        <li class="fs-3"> Activarea locaţiei</li>
        <li class="fs-3"> Acceptarea cererii permisiunii de a accesa locaţia <span class="badge rounded-pill bg-danger">!</span></li>
    </ul>
    <div class="d-flex flex-column flex-xxl-row justify-content-around">
        <div class="ms-1 my-3 w-90"><img src="https://i.ibb.co/DzHg8Nz/loc-Mobile.jpg" class="w-100" alt="mobile" crossorigin="anonymous"></div>
        <div class="ms-1 my-3 w-90"><img src="https://i.ibb.co/0sD0m6s/loc-Desktop.png" class="w-100" alt="desktop" crossorigin="anonymous"></div>
    </div>
    <p class="mt-4"><span class="badge bg-danger fs-2 me-3">Atenţie!</span> Dacă permisiunea la locaţie nu este acordată, datele nu vor fi înregistrate, apăsarea butoanelor neavând <strong>nici un efect</strong>! </p>
    <p><span class="badge bg-danger rounded-pill">!</span> Dacă aţi refuzat Accesarea Locaţiei, va trebui să o activaţi din <a href="https://docs.buddypunch.com/en/articles/919258-how-to-enable-location-services-for-chrome-safari-edge-and-android-ios-devices-gps-setting">setările browser-ului</a>.</p>
    <p><span class="badge bg-danger rounded-pill">!</span> Dacă primiţi o eroare <strong>Permisiune refuzată</strong> deşi nu aţi primit o solicitare la locaţie, probabil folosiţi <strong>Safari</strong> ca browser. Vă recomandăm să instalaţi <strong>Google Chrome</strong>, altfel nu veţi putea salva activităţi!</p>
    <p class="mt-4"><span class="badge bg-info fs-2 me-3">Sugestie</span> Vă recomandăm să salvaţi o scurtătură către acest site pe unul din ecranele dumneavoastră, pentru a-l face mai accesibil. Pe Chrome, această opţiune apare în meniul <strong><i class="fa-solid fa-ellipsis-vertical"></i> &nbsp;<i class="fa-solid fa-arrow-right"></i>&nbsp; Adaugă pe ecran pornire</strong>. Pe iPhone sau iPad, această opţiune apare în meniul <strong>Patrajează <i class="fa-solid fa-arrow-right"></i> Adaugă la ecranul de pornire</strong>.</p>
    <p class="mt-4"><span class="badge bg-info fs-2 me-3">Sugestie</span> Dacă sunteţi pe un calculator şi bara de navigare apare în modul restrâns, vă rugăm daţi Zoom Out.</p>

    <h1>Instrucţiuni</h1>
    <h2 id="login"> Login-ul </h2>
    <p> Login-ul se poate efectua în mai multe moduri. Criteriile sunt: </p>
    <ul class="fs-3">
        <li> Numele de utilizator </li>
        <li> Numele complet:
            <ul>
                <li>cu un singur spaţiu</li>
                <li>fără spaţii la început şi final</li>
                <li>fără diacritice</li>
            </ul>
        </li>
        <li> Email-ul</li>
        <li> Numărul de telefon</li>
    </ul>
    <p class="mt-4"><span class="badge bg-danger rounded-pill">!</span> Dacă introduceţi spaţii suplimantare, nu vă veţi putea loga. </p>
    <p><span class="badge bg-primary rounded-pill">!</span> Nu putei să vă logaţi cu numărul de telefon sau cu email-ul dacă nu le-aţi introdus în cont, la <strong>Cont -> Detalii -> Modicicare cont</strong>. </p>
    <p class="mt-4"><span class="badge bg-danger fs-2 me-3">Atenţie!</span> Recomandăm <span class="text-danger fw-bold"> SCHIMBAREA PAROLEI INIŢIALE</span> cu un grad de <span class="text-danger fw-bold"> URGENŢĂ</span> ridicat! Puteţi schimba şi numele de utilizator pentru a face logarea mai uşoară.</p>
    <div class="carsLogin border rounded w-90 w-xxl-50 mb-2"> {% include 'carousel.html' with carousel=carousellogin %}</div>

    <h2 id="acasa"> Pagina Acasă</h2>
    <h3>Butonul <span class="badge bg-success">Am ajuns </span></h3>
    <ul class="mt-4">
        <li>Înregistrează ora şi locaţia curentă şi o salvează ca ajungere.</li>
        <li>Nu poate fi apăsat de mai multe ori consecutiv</li>
        <li>Anularea înregistrarea unei ajungeri se face apăsând butonul <span class="badge bg-danger"><i class="fa-solid fa-xmark"></i></span> din dreapta sa.
        <li><span class="badge bg-primary rounded-pill">!</span> Dacă aveţi ceva de comunicat, apăsaţi butonul <span class="badge bg-warning">Am ajuns, fac o observaie</span>, în loc de butonul <span class="badge bg-success">Am ajuns </span>. </li>
    </ul>
    <hr class="dropdown-divider mt-4 mb-4">
    <h3>Butonul <span class="badge bg-danger" style="opacity: 85%">Am plecat </span></h3>
    <ul class="mt-4">
        <li>Înregistrează ora şi locaţia curentă şi o salvează ca plecare.</li>
        <li>Nu poate fi apăsat de mai multe ori consecutiv</li>
        <li>Anularea înregistrarea unei ajungeri se face apăsând butonul <span class="badge bg-danger"><i class="fa-solid fa-xmark"></i></span> din dreapta sa.
        <li><span class="badge bg-primary rounded-pill">!</span> Dacă aveţi ceva de comunicat, apăsaţi butonul <span class="badge bg-warning">Am plecat, fac o observaie</span>, în loc de butonul <span class="badge bg-danger" style="opacity: 85%">Am plecat </span>. </li>
    </ul>
    <hr class="dropdown-divider mt-4 mb-4">
    <h3>Butonul <span class="badge bg-primary" style="opacity: 85%">Vezi activitatea de astăzi</span></h3>
    <ul class="mt-4">
        <li>Vă va trimite pe pagina activităţilor din ziua curentă.</li>
        <li>Vă puteţi întoarce pe pagina <strong>Acasă</strong> apăsând butonul <i class="fa-solid fa-angle-left"></i> al browser-ului sau butonul <strong>Undo</strong> al telefonului, sau butonul <strong><i class="fa-solid fa-house"></i> Acasă</strong> din meniul de opțiuni.</li>
    </ul>
    <hr class="dropdown-divider mt-4 mb-4">
    <h3>Butonul <span class="badge bg-info">Am terminat o comandă</span></h3>
    <ul class="mt-4">
        <li>Deschide un formular sub acest buton.</li>
        <li>Câmpurile obligarorii din formular sunt:
            <ul>
                <li> Denumirea</li>
                <li> Numărul comenzii</li>
            </ul>
        </li>
    </ul>
    <p><span class="badge bg-primary rounded-pill">!</span> Dacă nu completaţi aceste câmpuri, va apărea un mesaj de eroare.</p>
    <p><span class="badge bg-primary rounded-pill">!</span> Dacă nu vedeţi formularul, vă rugăm să derulaţi pagina mai jos.</p>
    <p><span class="badge bg-primary rounded-pill">!</span> Dacă apăsaţi a doua oară pe butonul <span class="badge bg-info">Am terminat o comandă</span>, formularul de va închide.</p>
    <p>Câmpul <strong>Observaţie</strong> este opţional. Acesta se va folosi în cazul în care apar defecţiuni, sau apare o situaţie neprevazută.</p>
    <p><span class="badge bg-danger rounded-pill">!</span> O observaţie pate avea maxim 200 de caractere. Vă rugăm să <strong>nu scrieţi observaţii de dimensiuni mari</strong>.</p>
    <hr class="dropdown-divider mt-4 mb-4">
    <h3>Butonul <span class="badge" style="background-color: sandybrown">Am terminat un lucru</span></h3>
    <ul class="mt-4">
        <li>Deschide un formular în partea de jos a paginii</li>
        <li>Singurul câmp obligaroriu din formular este <strong> Denumirea</strong></li>
    </ul>
    <p><span class="badge bg-primary rounded-pill">!</span> Dacă nu completaţi acest câmp, va apărea un mesaj de eroare.</p>
    <p><span class="badge bg-primary rounded-pill">!</span> Dacă nu vedeţi formularul, vă rugăm să derulaţi pagina mai jos.</p>
    <p><span class="badge bg-primary rounded-pill">!</span> Dacă apăsaţi a doua oară pe butonul <span class="badge" style="background-color: sandybrown">Am terminat un lucru</span>, formularul de va închide.</p>
    <p>Câmpul <strong>Observaţie</strong> este opţional, dar acesta ajută la descrierea lucrului dumneavoastră.</p>
    <p><span class="badge bg-danger rounded-pill">!</span> O observaţie pate avea maxim 200 de caractere. Vă rugăm să <strong>nu scrieţi observaţii de dimensiuni mari</strong>.</p>

    <h2 id="activitati"> Pagina Activităţi</h2>
    <h3> Activitatea pe o singură zi: Azi, Ieri, Alaltaieri, Alege Perioada</h3>
    <p> Activitatea pe o zi conţine următoarele informaţii:</p>
    <ul>
        <li> Ora ajungerilor </li>
        <li> Ora venirilor </li>
        <li> Locaţia ajungerilor</li>
        <li> Locaţia venirilor</li>
        <li> *Observaţia la ajungere </li>
        <li> *Observaţia la venire </li>
        <li> Comenzile finalizate<br>
            <ul>
                <li>Denumirea</li>
                <li>Numărul</li>
                <li>Ora</li>
                <li>Locaţia</li>
                <li>*Observaţia</li>
            </ul>
        </li>
        <li> Lucrările finalizate<br>
            <ul>
                <li>Denumirea</li>
                <li>Ora</li>
                <li>Locaţia</li>
                <li>*Observaţia</li>
            </ul>
        </li>
    </ul><br>
    <p>Acţiunile posibile pe această pagină:</p>
    <ul>
        <li>Vizualizarea locaţiilor înregistrate </li>
        <li>Relocarea ajungerii sau a venirii</li>
        <li>Afişarea/ascunderea comenzilor</li>
        <li>Editarea comenzilor</li>
        <li>Anularea comenzilor</li>
        <li>Afişarea/ascunderea lucrărilor</li>
        <li>Editarea lucrărilor</li>
        <li>Anularea lucrărilor</li>
    </ul>
    <h4 id="relocare" class="fs-2">Relocarea</h4>
    <p> Dacă consideraţi că localizarea iniţială a avut o eroare prea mare, puteti sa folositi butonul <span class="badge bg-light text-dark"> Relocare</span> de pe pagina activităţi, din dreapta butonului de deschidere a hărţilor fără a fi modificată ora.</p>
    <p><span class="badge bg-danger rounded-pill">!</span> Acest buton este disponibil doar de <strong>{{ setare.nrrecalcpoz }}</strong> ori şi cel mult <strong>{{ setare.secafterrecalc }}</strong> secunde după înregistrarea ajungerii/plecării!</p>
    <p><span class="badge bg-danger rounded-pill">!</span> Relocarea se poate aplica doar <strong class="text-decoration-underline">ultimei</strong> ajungeri sau plecări! </p>
    <h4 id="editare" class="fs-2">Editarea comenzilor/lucrărilor</h4>
    <p>La adăugarea/editarea unei comenzi sau a unui lucru pot fi schimbate:</p>
    <ul>
        <li>Denumirea</li>
        <li>Numărul de comandă</li>
        <li>*Observaţia</li>
    </ul>
    <p><span class="badge bg-danger rounded-pill">!</span> La schimbarea comenzii sau a lucrului, ora și locația se actualizează automat!</p>

    <h3 class="mb-3"> Activitatea pe mai multe zile</h3>
    <h4 class="fs-2" style="margin-top: 2px !important;"><i class="fa-solid fa-minus fs-5"></i> Ultimele 3 zile</h4>
    <h4 class="fs-2 mb-4" style="margin-top: 2px !important;"><i class="fa-solid fa-minus fs-5"></i> Ultima săptămână</h4>
    <p><span class="badge bg-danger rounded-pill">!</span> Recomandăm vizualizarea acestor activităţi folosind orientarea <strong>Landscape</strong>!
    <p> Aceste date sunt încărcate într-un tabel, care conţine: </p>
    <ul>
        <li> Ziua săptămânii </li>
{#        <li> Ora intrării </li>#}
{#        <li> Ora ieşirii </li>#}
{#        <li> Locaţia intrării</li>#}
{#        <li> Locaţia ieşirii</li>#}
{#        <li> *Observaţia la ajungere </li>#}
{#        <li> *Observaţia la plecare </li>#}
        <li> Numărul ajungerilor</li>
        <li> Numărul plecărilor</li>
        <li> Numărul comenzilor finalizate</li>
        <li> Numărul lucrărilor finalizate</li>
        <li> Link către activitatea din ziua respectivă</li>
    </ul>
    <p>Semnificaţia culorilor din tabel</p>
    <ul>
        <li> <div class="rounded bg-warning p-3 float-start mb-0 me-3"></div> Absent </li>
        <li> <div class="rounded bg-success p-3 float-start mb-0 me-3"></div> Aţi înregistrat atât ajungeri, plecări, comenzi, cât şi lucrări </li>
        <li> <div class="rounded bg-light p-3 float-start mb-0 me-3 border border-dark"></div> Prezenţă </li>
    </ul>
    <p><span class="badge bg-primary rounded-pill">!</span> Datele sunt calculate în funcţie de programul de lucru. De exemplu, dacă acesta se rezumă la <strong>Luni Marţi Miercuri Joi Vineri</strong> şi ziua curentă este <strong>Luni</strong>, <strong>Ieri</strong> va însemna <strong>Vineri</strong>, nu <strong>Duminică</strong>.</p>
    <h2 id="cont">Pagina Cont</h2>
    <h3>Secţiunea Detalii </h3>
    <p> Conţine informaţiile contului, precum şi butonul de <span class="badge bg-primary">Modificare</span></p>
    <p> Datele care pot fi vizualizate sunt:</p>
    <ul>
        <li>Numele de utilizator</li>
        <li>Numele complet</li>
        <li>Email-ul</li>
        <li>Telefonul</li>
        <li>Statutul</li>
        <li>Parola</li>
    </ul>
    <p> Datele care pot fi modificate sunt:</p>
    <ul>
        <li>Numele de utilizator</li>
        <li>Email-ul</li>
        <li>Telefonul</li>
        <li>Parola</li>
    </ul>
    <h3>Secţiunea Logout </h3>
    <p> Deloghează utilizatorul curent de pe site.</p>
    <p><span class="badge bg-danger rounded-pill">!</span> Recomandăm delogarea, pentru a nu supraîncărca serverul!</p>
    <p><span class="badge bg-warning rounded-pill">!</span> Se recomandă salvarea parolei, din cauza riscului de a o uita!</p>
    <p class="mt-5"><span class="badge bg-danger fs-2">Atenţie!</span></p>
    <p>Acest site nu dispune de o modalitate de resetare a parolei.</p>
    <p>În cazul în care nu vă mai amintiţi parola, puteţi să o cereţi direct de la manager sau de la administrator.</p>
</div>
{% endblock %}