{% extends 'base.html' %}

{% block content %}
<div class="w-100 h-100 mb-5">

    {# MODALS #}
    <div class="modal fade" id="modalInvalidLoc" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel4" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel4">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Locatie invalida!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary fs-3" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalUnsupportedLoc" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel5" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel5">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Locatie invalida!<br>
            Va rugam sa schimbati browser-ul.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary fs-3" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalCancelComand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel6" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel6">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Ternimarea comenzii va fi stearsa!<br>
            Sigur doriti sa o anulati?
          </div>
          <div class="modal-footer justify-content-around">
            <button type="button" class="btn btn-danger fs-3" data-bs-dismiss="modal">Anuleaza</button>
            <button type="button" class="btn btn-warning fs-3" id="btnCancelComand">Continua</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalEditComand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel7" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel7">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Sigur doriti sa editati comanda?
          </div>
          <div class="modal-footer justify-content-around">
            <button type="button" class="btn btn-danger fs-3" data-bs-dismiss="modal">Anuleaza</button>
            <button type="button" class="btn btn-success fs-3" id="btnEditComand">Salveaza</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalSaveEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel8" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel8">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Sigur doriti sa salvati modificarile?<br>
            Recomandam aceasta actiune doar in situatii strict necesare.
          </div>
          <div class="modal-footer justify-content-around">
            <button type="button" class="btn btn-danger fs-3" data-bs-dismiss="modal">Anuleaza</button>
            <button type="button" class="btn btn-success fs-3" id="btnSaveEdit">Salveaza</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalCancelLucru" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel10" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel10">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Lucrarea va fi anulata!<br>
            Sigur doriti sa continuati?
          </div>
          <div class="modal-footer justify-content-around">
            <button type="button" class="btn btn-danger fs-3" data-bs-dismiss="modal">Anuleaza</button>
            <button type="button" class="btn btn-warning fs-3" id="btnCancelLucru">Continua</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalEditLucru" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel11" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel11">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Sigur doriti sa editati lucrarea?
          </div>
          <div class="modal-footer justify-content-around">
            <button type="button" class="btn btn-danger fs-3" data-bs-dismiss="modal">Anuleaza</button>
            <button type="button" class="btn btn-success fs-3" id="btnEditLucru">Salveaza</button>
          </div>
        </div>
      </div>
    </div>

    {# STATS #}
    {% load mytags %}
    <div class="container-fluid m-5 fs-1">
        <h1 class="my-5" style="font-size: 200%">Status:</h1>
        <div class="d-flex flex-row me-5 my-3">
            <p class="me-5 text-nowrap"> User: </p>
            <a href="{% url 'detaliiuser' username=user.username %}">{{ user.nume }}</a>
        </div>
        <div class="d-flex flex-row me-5 my-3">
            <p class="me-5 text-nowrap"> Data: </p>
            <p class="me-5 text-nowrap"> {{ datetime|name_of_day }}, {{ data }} </p>
        </div>
    {% for intrare, iesire in intrariiesiri %}
    <hr class="dropdown-divider mt-5">
{#    <div class="d-flex flex-row me-5 mt-3">#}
{#        <button class="btn btn-outline-danger fs-3 me-5" onclick="clearFields('In', '{{ intrare.id }}{{ iesire.id }}')"> Sterge intrarea </button>#}
{#        <button class="btn btn-outline-danger fs-3 me-5" onclick="clearFields('Out', '{{ intrare.id }}{{ iesire.id }}')"> Sterge plecarea </button>#}
{#        <button class="btn btn-outline-danger fs-3 me-5" onclick="clearFields('InOut', '{{ intrare.id }}{{ iesire.id }}')"> Sterge intrarea si plecarea </button>#}
{#    </div>#}
    <form name="myform{{ intrare.id }}{{ iesire.id }}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ intrare.id }}" name="inid">
        <input type="hidden" value="{{ iesire.id }}" name="outid">
        <div class="fs-2 pt-3 w-50">
            <div class="row mb-3 fs-3">
                <label for="inputOraIn{{ intrare.id }}{{ iesire.id }}" class="col-form-label fs-3 text-start">Ora ajungerii</label>
                <div class="col-sm-10">
                  <input autocomplete="off" type="text" class="form-control fs-3" id="inputOraIn{{ intrare.id }}{{ iesire.id }}" value="{{ intrare.datetime|ftime:"time" }}" name="orain">
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputOraOut{{ intrare.id }}{{ iesire.id }}" class="col-form-label fs-3 text-start">Ora plecarii</label>
                <div class="col-sm-10">
                  <input autocomplete="off" type="text" class="form-control fs-3" id="inputOraOut{{ intrare.id }}{{ iesire.id }}" value="{{ iesire.datetime|ftime:"time" }}" name="oraout">
                </div>
            </div>

            <div class="row mb-3 fs-3">
                <label for="inputLocIn{{ intrare.id }}{{ iesire.id }}" class="col-form-label fs-3 text-start">Locatie intrare (lat, long): {{ intrare|strloc }}</label>
                <div class="d-flex flex-row col-sm-10">
                  <input autocomplete="off" type="text" class="form-control fs-3 me-5" id="inputLocIn{{ intrare.id }}{{ iesire.id }}" value="{{ intrare.getCoords }}" name="locin">
                  <button type="button" class="btn btn-light btn-lg fs-3 me-3" onclick="loadMap('{{ intrare.getCoords }}')" title="Arata pe harta"><i class="fa-solid fa-location-crosshairs"></i></button>
                  <button type="button" class="btn btn-light btn-lg fs-3" onclick="setCurentCoords('inputLocIn{{ intrare.id }}{{ iesire.id }}')" title="Seteaza pozitia curenta"><i class="fa-solid fa-magnifying-glass-location"></i></button>
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputLocOut{{ intrare.id }}{{ iesire.id }}" class="col-form-label fs-3 text-start">Locatie plecare (lat, long): {{ iesire|strloc }}</label>
                <div class="d-flex flex-row col-sm-10">
                  <input autocomplete="off" type="text" class="form-control fs-3 me-5" id="inputLocOut{{ intrare.id }}{{ iesire.id }}" required value="{{ iesire.getCoords }}" name="locout">
                  <button type="button" class="btn btn-light btn-lg fs-3 me-3" onclick="loadMap('{{ iesire.getCoords }}')" title="Arata pe harta"><i class="fa-solid fa-location-crosshairs"></i></button>
                  <button type="button" class="btn btn-light btn-lg fs-3" onclick="setCurentCoords('inputLocOut{{ intrare.id }}{{ iesire.id }}')" title="Seteaza pozitia curenta"><i class="fa-solid fa-magnifying-glass-location"></i></button>
                </div>
            </div>
            {% if show_nrReloc %}
            <div class="row mb-3 fs-3">
                <label for="inputNrRelocIn" class="col-form-label fs-3 text-start">Numar de relocari la ajungere</label>
                <div class="col-sm-10">
                  <input autocomplete="off" type="number" class="form-control fs-3" id="inputNrRelocIn" required min="1" max="{{ nrrecalcpoz }}" value="{{ 1 }}">
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputNrRelocOut" class="col-form-label fs-3 text-start">Numar de relocari la plecare</label>
                <div class="col-sm-10">
                  <input autocomplete="off" type="number" class="form-control fs-3" id="inputNrRelocOut" required min="1" max="{{ nrrecalcpoz }}" value="{{ 1 }}">
                </div>
            </div>
            {% endif %}
            <p class="mt-3 mb-1">Observatie la ajungere</p>
            <div class="form-floating fs-4 me-5">

              <textarea maxlength="200" class="form-control fs-4" placeholder="Scrieti observatia/motivarea aici" id="inputObsIn{{ intrare.id }}{{ iesire.id }}" style="height: 100px" name="obsin">{{ intrare.text|strobs }}</textarea>
{#              <label for="inputObsIn">Observatie la venire</label>#}
            </div>
            <p class="mt-3 mb-1">Observatie la plecare</p>
            <div class="form-floating fs-4 me-5">
              <textarea maxlength="200" class="form-control fs-4" placeholder="Scrieti observatia/motivarea aici" id="inputObsOut" style="height: 100px" name="obsout">{{ iesire.text|strobs }}</textarea>
{#              <label for="inputObsOut">Observatie la plecare</label>#}
            </div>
            <div class="d-flex flex-row justify-content-around mt-2 fs-5">
              <button type="reset" class="btn btn-danger opacity-75 font-weight-bold fs-2 align-self-center my-0" > <i class="fa-solid fa-arrow-rotate-right"></i> Anuleaza </button>
              <button type="button" data-bs-toggle="modal" data-bs-target="#modalSaveEdit" data-bs-id="{{ intrare.id }}{{ iesire.id }}" class="btn btn-primary font-weight-bold fs-2 align-self-center my-0 me-3">Salveaza modificarile</button>
            </div>
        </div>
    </form>
    {% endfor %}
    {% if showinoutsupl %}
    <form name="myformBlank" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ intrare.id }}" name="inid">
        <input type="hidden" value="{{ iesire.id }}" name="outid">
        <div class="fs-2 pt-3 w-50">
            <div class="row mb-3 fs-3">
                <label for="inputOraInBlank" class="col-form-label fs-3 text-start">Ora ajungerii</label>
                <div class="col-sm-10">
                  <input autocomplete="off" type="text" class="form-control fs-3" id="inputOraInBlank" value="{{ intrare.datetime|ftime:"time" }}" name="orain">
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputOraOutBlank" class="col-form-label fs-3 text-start">Ora plecarii</label>
                <div class="col-sm-10">
                  <input autocomplete="off" type="text" class="form-control fs-3" id="inputOraOutBlank" value="{{ iesire.datetime|ftime:"time" }}" name="oraout">
                </div>
            </div>

            <div class="row mb-3 fs-3">
                <label for="inputLocInBlank" class="col-form-label fs-3 text-start">Locatie intrare (lat, long): {{ intrare|strloc }}</label>
                <div class="d-flex flex-row col-sm-10">
                  <input autocomplete="off" type="text" class="form-control fs-3 me-5" id="inputLocInBlank" value="{{ intrare.getCoords }}" name="locin">
                  <button type="button" class="btn btn-light btn-lg fs-3 me-3" onclick="loadMap('{{ intrare.getCoords }}')" title="Arata pe harta"><i class="fa-solid fa-location-crosshairs"></i></button>
                  <button type="button" class="btn btn-light btn-lg fs-3" onclick="setCurentCoords('inputLocInBlank')" title="Seteaza pozitia curenta"><i class="fa-solid fa-magnifying-glass-location"></i></button>
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputLocOutBlank" class="col-form-label fs-3 text-start">Locatie plecare (lat, long): {{ iesire|strloc }}</label>
                <div class="d-flex flex-row col-sm-10">
                  <input autocomplete="off" type="text" class="form-control fs-3 me-5" id="inputLocOutBlank" required value="{{ iesire.getCoords }}" name="locout">
                  <button type="button" class="btn btn-light btn-lg fs-3 me-3" onclick="loadMap('{{ iesire.getCoords }}')" title="Arata pe harta"><i class="fa-solid fa-location-crosshairs"></i></button>
                  <button type="button" class="btn btn-light btn-lg fs-3" onclick="setCurentCoords('inputLocOutBlank')" title="Seteaza pozitia curenta"><i class="fa-solid fa-magnifying-glass-location"></i></button>
                </div>
            </div>
            {% if show_nrReloc %}
            <div class="row mb-3 fs-3">
                <label for="inputNrRelocIn" class="col-form-label fs-3 text-start">Numar de relocari la ajungere</label>
                <div class="col-sm-10">
                  <input autocomplete="off" type="number" class="form-control fs-3" id="inputNrRelocIn" required min="1" max="{{ nrrecalcpoz }}" value="{{ 1 }}">
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputNrRelocOut" class="col-form-label fs-3 text-start">Numar de relocari la plecare</label>
                <div class="col-sm-10">
                  <input autocomplete="off" type="number" class="form-control fs-3" id="inputNrRelocOut" required min="1" max="{{ nrrecalcpoz }}" value="{{ 1 }}">
                </div>
            </div>
            {% endif %}
            <p class="mt-3 mb-1">Observatie la ajungere</p>
            <div class="form-floating fs-4 me-5">

              <textarea maxlength="200" class="form-control fs-4" placeholder="Scrieti observatia/motivarea aici" id="inputObsInBlank" style="height: 100px" name="obsin">{{ intrare.text|strobs }}</textarea>
{#              <label for="inputObsIn">Observatie la venire</label>#}
            </div>
            <p class="mt-3 mb-1">Observatie la plecare</p>
            <div class="form-floating fs-4 me-5">
              <textarea maxlength="200" class="form-control fs-4" placeholder="Scrieti observatia/motivarea aici" id="inputObsOut" style="height: 100px" name="obsout">{{ iesire.text|strobs }}</textarea>
{#              <label for="inputObsOut">Observatie la plecare</label>#}
            </div>
            <div class="d-flex flex-row justify-content-around mt-2 fs-5">
              <button type="reset" class="btn btn-danger opacity-75 font-weight-bold fs-2 align-self-center my-0" > <i class="fa-solid fa-arrow-rotate-right"></i> Anuleaza </button>
              <button type="button" data-bs-toggle="modal" data-bs-target="#modalSaveEdit" data-bs-id="Blank" class="btn btn-primary font-weight-bold fs-2 align-self-center my-0 me-3">Salveaza modificarile</button>
            </div>
        </div>
    </form>
    {% endif %}
    <div class="my-3 mt-5 w-50">
        <div class="d-flex flex-row">
            <p class="me-5 text-nowrap"> Comenzi finalizate: {{ nrcomenzi }} </p>
            <button onclick="arataascunde()" id="btnShowHide" class="btn btn-outline-primary btn-square-md font-weight-bold fs-3 align-self-center my-0 px-4 me-5" title="Arata/Ascunde Comenzile" data-bs-toggle="tooltip" data-bs-placement="top" > Ascunde </button>
            <button onclick="showEdit('', '', '', '', '{{ datetime|ftime:"date timenow" }}')" id="btnShowAdd" class="btn btn-success btn-square-md font-weight-bold fs-3 align-self-center my-0 px-4" > Adauga </button>
        </div>
        <div id="comenziShowDiv">
        {% for comanda in comenzi %}
            <div class="my-3">
            <div class="card fs-3 my-1">
              <div class="card-header fw-bold">
                {{ comanda.denumire }}
              </div>
              <div class="card-body">
                <div class="list-group list-group-flush">
                  <li class="list-group-item">Numar comanda: {{ comanda.numar_comanda }}</li>
                  <li class="list-group-item">Ora: {{ comanda.getStrTime }}</li>
                  <li class="list-group-item">
                      <div class="d-flex flex-row">
                          <p class="me-3">Locatie: {{ comanda|strloc }}</p>
                          <button class="btn btn-light fs-3" onclick="loadMap('{{ comanda.getCoords|safe }}')" title="Arata pe harta"><i class="fa-solid fa-location-crosshairs"></i></button>
                      </div>
                  </li>
                  <li class="list-group-item">Observatie: {{ comanda.text|strobs }} </li>
                </div>
                <div class="d-flex justify-content-around">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#modalCancelComand" data-bs-nr="{{ comanda.numar_comanda }}" class="btn btn-danger btn-square-md font-weight-bold fs-2 my-0"> <i class="fa-solid fa-xmark"></i> Sterge </button>
                  <button type="button" class="btn btn-primary btn-square-md font-weight-bold fs-2 my-0"
                          onclick="showEdit('{{ comanda.denumire }}','{{ comanda.numar_comanda }}','{{ comanda.text|strobs }}', '{{ comanda.getCoords }}', '{{ comanda.datetime|ftime:"datetime" }}')">Editeaza</button>
                </div>
              </div>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="d-none fs-2 pt-3 w-50" id="comandDiv">
        <div class="row mb-3 fs-3">
            <label for="comandaDen" class="form-label fs-2" style="text-align: left !important;">Denumire</label>
            <input autocomplete="off" class="form-control fs-3" list="datalistOptions" id="comandaDen" placeholder="Alege/Scrie denumirea produsului" required>
            <datalist id="datalistOptions">
              {% for cmd in datalist_comanda %}
                  <option value="{{ cmd }}">
              {% endfor %}
        </datalist>
        </div>
        <div class="row mb-3 fs-3">
            <label for="inputNrComanda" class="col-form-label fs-3 text-start">Numar comanda</label>
            <div class="col-sm-10">
              <input autocomplete="off" type="text" class="form-control fs-3" id="inputNrComanda" required pattern="C[0-9]{1,}.[0-9]{1,}">
            </div>
        </div>
        <div class="row mb-3 fs-3">
            <label for="inputLoc" class="col-form-label fs-3 text-start">Locatie (lat, long) &nbsp;
                <button onclick="setCurentCoords('inputLoc')" title="Seteaza locatia curenta" class="btn btn-light fs-5"><i class="fa-solid fa-location-crosshairs"></i></button>
            </label>
            <div class="col-sm-10">
              <input autocomplete="off" type="text" class="form-control fs-3" id="inputLoc" required pattern="[0-9]{1,2}.[0-9]{2,},[\s ][0-9]{1,2}.[0-9]{2,}">
            </div>
        </div>
        <div class="row mb-3 fs-3">
            <label for="inputMom" class="col-form-label fs-3 text-start">Data si ora</label>
            <div class="col-sm-10">
              <input autocomplete="off" type="datetime-local" class="form-control fs-3" id="inputMom" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">
            </div>
        </div>
        <div class="form-floating fs-4 mt-3">
          <textarea maxlength="200" class="form-control fs-4" placeholder="Scrieti observatia/motivarea aici" id="comandObs" style="height: 100px"></textarea>
          <label for="comandObs">Observatie</label>
          <div class="d-flex flex-row justify-content-around mt-1 fs-5">
              <button onclick="toogleView('comandDiv')" class="btn btn-danger opacity-75 font-weight-bold fs-2 align-self-center my-0" > <i class="fa-solid fa-arrow-rotate-right"></i> Anuleaza </button>
              <button id="btnEditShowModal" type="button" data-bs-toggle="modal" data-bs-target="#modalEditComand" class="btn btn-primary font-weight-bold fs-2 align-self-center my-0 me-3">Salveaza</button>
          </div>
        </div>
    </div>

    <div class="my-3 mt-5 w-50">
    <div class="d-flex flex-row" id="showDivLucrari">
        <p class="me-5 text-nowrap"> Lucrari finalizate: {{ nrlucrari }} </p>
        <button onclick="arataascunde('lucrariShowDiv', 'btnShowHideLucru')" id="btnShowHideLucru" class="btn btn-outline-primary btn-square-md font-weight-bold fs-3 align-self-center my-0 px-4 me-5" title="Arata/Ascunde Comenzile" data-bs-toggle="tooltip" data-bs-placement="top"> Ascunde </button>
        <button onclick="showAddLucru('', '', '', '{{ datetime|ftime:"date timenow" }}')" id="btnShowAddLucru" class="btn btn-success btn-square-md font-weight-bold fs-3 align-self-center my-0 px-4" > Adauga </button>
    </div>
        <div id="lucrariShowDiv">
        {% for lucru in lucrari %}
            <div class="my-3">
            <div class="card fs-3 my-1">
              <div class="card-header fw-bold">
                {{ lucru.denumire }}
              </div>
              <div class="card-body">
                <div class="list-group list-group-flush">
                  <li class="list-group-item">Ora: {{ lucru.getStrTime }}</li>
                  <li class="list-group-item">
                      <div class="d-flex flex-row">
                          <p class="me-3">Locatie: {{ lucru|strloc }}</p>
                          <button class="btn btn-light fs-3" onclick="loadMap('{{ lucru.getCoords|safe }}')"><i class="fa-solid fa-location-crosshairs"></i></button>
                      </div>
                  </li>
                  <li class="list-group-item">Observatie: {{ lucru.text|strobs }} </li>
                </div>
                <div class="d-flex justify-content-around">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#modalCancelLucru" data-bs-id="{{ lucru.id }}" class="btn btn-danger btn-square-md font-weight-bold fs-2 my-0"> <i class="fa-solid fa-xmark"></i> Sterge </button>
                  <button type="button" class="btn btn-primary btn-square-md font-weight-bold fs-2 my-0"
                          onclick="showEditLucru('{{ lucru.denumire }}', '{{ lucru.text|strobs }}', {{ lucru.id }}, '{{ lucru.getCoords|safe }}', '{{ lucru.datetime|ftime:"datetime" }}')">Editeaza</button>
                </div>
              </div>
            </div>
            </div>
        {% endfor %}
        </div>
        <div class="d-none fs-2 pt-3 w-90" id="lucruDiv">
            <div class="row mb-3 fs-3">
                <label for="lucruDen" class="form-label fs-2" style="text-align: left !important;">Denumire</label>
                <input class="form-control fs-3" list="datalistOptions3" id="lucruDen" placeholder="Scrie denumirea lucrului" required>
                <datalist id="datalistOptions3">
                  {% for lucru in datalist_lucru %}
                      <option value="{{ lucru }}">
                  {% endfor %}
                </datalist>
            </div>
            <div class="row mb-3 fs-3">
                <label for="lucruLoc" class="col-form-label fs-3 text-start">Locatie (lat, long) &nbsp;
                    <button onclick="setCurentCoords('lucruLoc')" title="Seteaza locatia curenta" class="btn btn-light fs-5"><i class="fa-solid fa-location-crosshairs"></i></button>
                </label>
                <div class="col-sm-10">
                  <input autocomplete="off" type="text" class="form-control fs-3" id="lucruLoc" required pattern="[0-9]{1,2}.[0-9]{2,},[\s ][0-9]{1,2}.[0-9]{2,}">
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="lucruMom" class="col-form-label fs-3 text-start">Data si ora</label>
                <div class="col-sm-10">
                  <input autocomplete="off" type="datetime-local" class="form-control fs-3" id="lucruMom" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">
                </div>
            </div>
            <div class="form-floating fs-4 mt-3">
              <textarea maxlength="200" class="form-control fs-4" placeholder="Scrieti observatia/motivarea aici" id="lucruObs" style="height: 100px"></textarea>
              <label for="lucruObs">Observatie</label>
              <div class="d-flex flex-row justify-content-around mt-1 fs-5">
                  <button type="reset" onclick="toogleView('lucruDiv')" class="btn btn-danger opacity-75 font-weight-bold fs-2 align-self-center my-0" > <i class="fa-solid fa-arrow-rotate-right"></i> Anuleaza </button>
                  <button id="btnEditShowModalLucru" type="button" data-bs-toggle="modal" data-bs-target="#modalEditLucru" class="btn btn-primary font-weight-bold fs-2 align-self-center my-0 me-3">Salveaza</button>
              </div>
            </div>
        </div>
        </div>
    </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

window.addEventListener('load', ()=>{
    //document.getElementById('btnSaveEdit').addEventListener("click", function(){
    //    document.forms['myform'].submit()
    //})
    document.getElementById('modalSaveEdit').addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var recipient = button.getAttribute('data-bs-id')
      var butonContinua = document.getElementById('btnSaveEdit')
      butonContinua.onclick = () => {document.forms[`myform${recipient}`].submit()};
    })

    document.getElementById('modalCancelComand').addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var recipient = button.getAttribute('data-bs-nr')
      var butonContinua = document.getElementById('btnCancelComand')
      butonContinua.onclick = () => {window.location.href = "{% url 'comanda_cancel'%}?nr="+recipient};
    })

    document.getElementById('modalEditComand').addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      var butonSave = document.getElementById('btnEditComand')

      let den = document.getElementById("comandaDen").value.trim()
      let nr = document.getElementById("inputNrComanda").value.trim()
      let obs = document.getElementById("comandObs").value
      let datetime = document.getElementById("inputMom").value
      let coordElem = document.getElementById("inputLoc")
      if(!coordElem.value.toString().includes(",")) {
          alert("Locatie invalida!")
      }
      let strcoord = coordElem.value.split(',')
      let coord = strcoord[0].trim() + "," + strcoord[1].trim()

      var recipient = button.getAttribute('data-bs-oldnr')
      if(recipient !== ""){
          butonSave.onclick = () => {window.location.href = `{% url 'comanda_edit' %}?oldnr=${recipient}&nr=${nr}&den=${den}&obs=${obs}&datetime=${datetime}&loc=${coord}`};
      } else {
          let user = "{{ ownuser.username }}"
          //alert(user)
          butonSave.onclick = () => {window.location.href = `{% url 'comanda_edit' %}?user=${user}&nr=${nr}&den=${den}&obs=${obs}&datetime=${datetime}&loc=${coord}`};
      }
    })

    document.getElementById('modalCancelLucru').addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var recipient = button.getAttribute('data-bs-id')
      var butonContinua = document.getElementById('btnCancelLucru')
      butonContinua.onclick = () => {window.location.href = "{% url 'lucru_cancel'%}?id="+recipient};
    })

    document.getElementById('modalEditLucru').addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      var butonSave = document.getElementById('btnEditLucru')

      let den = document.getElementById("lucruDen").value.trim()
      let obs = document.getElementById("lucruObs").value
      let datetime = document.getElementById("lucruMom").value
      let coordElem = document.getElementById("lucruLoc")
      if(!coordElem.value.toString().includes(",")) {
          alert("Locatie invalida!")
      }
      let strcoord = coordElem.value.split(',')
      let coord = strcoord[0].trim() + "," + strcoord[1].trim()

      var recipient = button.getAttribute('data-bs-id')
      if(recipient != null && recipient !== ""){
          butonSave.onclick = () => {window.location.href = `{% url 'lucru_edit' %}?id=${recipient}&den=${den}&obs=${obs}&datetime=${datetime}&loc=${coord}`};
      } else {
          let user = "{{ ownuser.username }}"
          //alert(user)
          butonSave.onclick = () => {window.location.href = `{% url 'lucru_edit' %}?user=${user}&den=${den}&obs=${obs}&datetime=${datetime}&loc=${coord}`};
      }
    })

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
}, false)

function toogleView(domname){
    elem = document.getElementById(domname);
    if(elem.classList.contains("d-none"))
    {
        elem.classList.remove("d-none");
    }
    else{
        elem.classList.add("d-none");
        window.location.href = window.location.href.split("#")[0]
    }
}

function arataascunde(domname="comenziShowDiv", btnid="btnShowHide"){
    elem = document.getElementById(domname);
    btn = document.getElementById(btnid);
    if(elem.classList.contains("d-none")) {
        elem.classList.remove("d-none");
        btn.innerText = "Ascunde";
    }
    else {
        elem.classList.add("d-none");
        btn.innerText = "Arata";
    }
}

function loadMap(loc){
    loc = loc.replace('-', "")
    if(loc.trim().length === 0 || loc === "-") {
        invComModal = new bootstrap.Modal(document.getElementById("modalInvalidLoc"), {});
        invComModal.show();
    }
    else {
        //let adress = "https://www.google.com/maps/dir/" + loc + "//@" + loc + ",21z";
        let adress = "{{ harta|safe }}";
        let pos = loc.trim().split(',')
        let rlat = new RegExp('\\^\\^lat\\^\\^', 'g')
        let rlong = new RegExp('\\^\\^long\\^\\^', 'g')
        adress = adress.replace(rlat, pos[0]).replace(rlong, pos[1])
        window.open(adress, '_blank');
    }
}

function setCurentCoords(id){
    elem = document.getElementById(id)
    getLocation((position) => {
        elem.value = `${position.coords.latitude},${position.coords.longitude}`
    })
}

function displayError(error) {
  var errors = {
    1: 'Permisiune locatie refuzata',
    2: 'Pozitie invalida',
    3: 'Timpul pentru localizare a expirat',
    default: "default",
  };
  alert("Eoare: " + errors[error.code]);
}

times = 3
function getLocation(callback){
    if (navigator.geolocation) {
      let timeoutVal = 10 * 1000 * 1000;
      navigator.geolocation.getCurrentPosition(
        callback,
        (error) => {
            if(times > 0) {
                times--;
                getLocation(callback);
            }
            else displayError(error);
        },
        { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
      );
    }
    else {
      invComModal = new bootstrap.Modal(document.getElementById("modalUnsupportedLoc"), {});
      invComModal.show();
    }
}

function processposition(url, text=""){
    getLocation((position) => {
        text = text.replace(/\n\r?/g, '; ');
        adress = url + `?lat=${position.coords.latitude}&long=${position.coords.longitude}&obs=${text}`;
        window.location.href = adress;
    });
    //getLocation((position1) => {
    //    getLocation((position2) => {
    //        getLocation((position3) => {
    //            position3.coords.latitude = (position1.coords.latitude + position2.coords.latitude + position3.coords.latitude) / 3.0;
    //            position3.coords.longitude = (position1.coords.longitude + position2.coords.longitude + position3.coords.longitude) / 3.0;
    //            text = text.replace(/\n\r?/g, '; ');
    //            adress = url + `?lat=${position3.coords.latitude}&long=${position3.coords.longitude}&obs=${text}`;
    //            window.location.href = adress;
    //        });
    //    });
    //});
}

function showEdit(den, nr, text, coords, datetime){
    toogleView('comandDiv');
    document.getElementById('comandaDen').value = den;
    document.getElementById('inputNrComanda').value = nr;
    document.getElementById('inputLoc').value = coords;
    document.getElementById('comandObs').value = text.replace('; ', '\r\n');
    document.getElementById('inputMom').value = createDateTime(datetime);

    window.location.href = window.location.href.replace(/#.*/g, "") + "#comandDiv";
    document.getElementById('btnEditShowModal').setAttribute("data-bs-oldnr", nr);
}

function showAddLucru(den, text, loc, datetime){
    toogleView('lucruDiv');
    document.getElementById('lucruDen').value = den;
    document.getElementById('lucruLoc').value = loc;
    document.getElementById('lucruMom').value = createDateTime(datetime);
    document.getElementById('lucruObs').value = text.replace('; ', '\n');
    window.location.href = window.location.href.replace(/#.*/g, "") + "#lucruDiv";
}

function showEditLucru(den, text, id, loc, datetime){
    toogleView('lucruDiv');
    document.getElementById('lucruDen').value = den;
    document.getElementById('lucruLoc').value = loc;
    document.getElementById('lucruMom').value = createDateTime(datetime);
    document.getElementById('lucruObs').value = text.replace('; ', '\n');
    window.location.href = window.location.href.replace(/#.*/g, "") + "#lucruDiv";
    document.getElementById('btnEditShowModalLucru').setAttribute("data-bs-id", id);
}

function createDateTime(datestr){
    if(datestr == null || datestr.length === 0)
        return ""
    const now = new Date();
    let elems = datestr.split("-");
    let toktime = elems[1].split(":");
    let tokdate = elems[0].split(".");
    now.setHours(parseInt(toktime[0]));
    now.setMinutes(parseInt(toktime[1]));
    now.setDate(parseInt(tokdate[0]));

    now.setMonth(parseInt(tokdate[1]));
    now.setFullYear(parseInt(tokdate[2]));
    //alert(now.toJSON())
    //alert(now.toISOString())
    //2022-08-22T04:40:00.553Z
    rez = ""
    rez += pad(now.getFullYear(), 4) + "-" + pad(now.getMonth(), 2) + "-" + pad(now.getDate(), 2);
    rez += "T" + pad(now.getHours(), 2) + ":" + pad(now.getMinutes(), 2);
    return rez;
}

function pad(num, size) {
    num = num.toString();
    while (num.length < size) num = "0" + num;
    return num;
}

function clearFields(str, id){
    var myModal = new bootstrap.Modal(document.getElementById('modalSaveEdit'), {backdrop: "static", keyboard: false})
    if(str === "In"){
        document.getElementById(`inputOraIn${id}`).value = ""
        document.getElementById(`inputLocIn${id}`).value = ""
        document.getElementById(`inputObsIn${id}`).value = ""
    }
    else if(str === "Out") {
        document.getElementById(`inputOraOut${id}`).value = ""
        document.getElementById(`inputLocOut${id}`).value = ""
        document.getElementById(`inputObsOut${id}`).value = ""
    }
    else if(str === "InOut") {
        document.getElementById(`inputOraIn${id}`).value = ""
        document.getElementById(`inputLocIn${id}`).value = ""
        document.getElementById(`inputObsIn${id}`).value = ""
        document.getElementById(`inputOraOut${id}`).value = ""
        document.getElementById(`inputLocOut${id}`).value = ""
        document.getElementById(`inputObsOut${id}`).value = ""
    }
    myModal.show()
}

</script>
{% endblock %}