{% extends 'base.html' %}

{% block css %}
<style>
.w-90{
    width: 90vw;
}
</style>
{% endblock %}

{% block content %}
{% load mytags %}
<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel2">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Sigur doriti sa stergeti acest cont?<br>
            Datele vor fi pierdute definitiv.
          </div>
          <div class="modal-footer justify-content-around">
            <button type="button" class="btn btn-danger fs-3" data-bs-dismiss="modal">Anuleaza</button>
            {% if request.user|role_at_least:"Manager" %}
              <button type="button" class="btn btn-warning fs-3" onclick="window.location.href = '{% url 'deleteuser' username=userdata.username %}'">Continua</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
<div class="modal fade" id="modalSaveEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel8" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel8">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Sigur doriti sa salvati modificarile?<br>
            Nu puteti anula aceasta actiune.
          </div>
          <div class="modal-footer justify-content-around">
            <button type="button" class="btn btn-danger fs-3" data-bs-dismiss="modal">Anuleaza</button>
            <button type="button" class="btn btn-success fs-3" id="btnSaveEdit">Salveaza</button>
          </div>
        </div>
      </div>
    </div>

<div class="container-fluid m-5 fs-1 w-auto">
    <h1 class="my-5" style="font-size: 200%">Detalii cont</h1>
    <table class="table table-striped table-hover w-90">
      <tr>
          <th> <span class="fw-normal"> Nume de utilizator:</span><br> {{ userdata.username }}</th>
      </tr>
        <tr>
          <th> <span class="fw-normal">Nume:</span><br>{{ userdata.nume }} </th>
      </tr>
        <tr>
          <th> <span class="fw-normal">Email:</span><br>{{ userdata.email }} </th>
      </tr>
        <tr>
          <th> <span class="fw-normal">Telefon:</span><br>{{ userdata.telefon }} </th>
      </tr>
        <tr>
          <th> <span class="fw-normal">Statut:</span><br>{{ userdata.role }} </th>
      </tr>
        <tr>
          <th>
              <span class="fw-normal">Parola:</span><br>
              <div class="d-flex flex-row">
                <input autocomplete="off" type="password" id='inputPwd' class="form-control fs-1 me-5" value="{{ userdata.password }}" disabled>
                <button onclick="toogleViewPwd()" class="fs-3 border-0" style="background-color: transparent" id="btnPwd"> <i class="fa-solid fa-eye"></i> </button>
              </div>
          </th>
      </tr>
    </table>
    <div class="d-flex flex-row mt-5">
        <button class="btn btn-primary fs-1 me-5 text-nowrap" onclick="toogleViewModif()"> Modifica cont </button>
        {% if userdata != request.user and request.user|role_at_least:"Manager" %}<button data-bs-toggle="modal" data-bs-target="#modalDelete" class="btn btn-danger fs-1 me-5"> Sterge cont </button>{% endif %}
    </div>
    <div id="divDetalii" class="d-none mt-5 fs-2 w-90">
        <form method="POST" name="myform">
            {% csrf_token %}
            <div class="mb-3 row">
              <label for="inUsername" class="col-sm-2 col-form-label pe-3">User</label>
              <div class="col-sm-10 pt-2">
                <input autocomplete="off" type="text" class="form-control fs-2" id="inUsername" value="{{ userdata.username }}" name="user">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10 pt-2">
                <input autocomplete="off" type="email" class="form-control fs-2" id="inEmail" value="{{ userdata.email }}" name="email">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inTelefon" class="col-sm-2 col-form-label">Telefon</label>
              <div class="col-sm-10 pt-2">
                <input autocomplete="off" type="text" class="form-control fs-2" id="inTelefon" value="{{ userdata.telefon }}" name="tel">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inPassword" class="col-sm-2 col-form-label">Parola</label>
              <div class="col-sm-10 pt-2">
                <input autocomplete="off" type="text" class="form-control fs-2" id="inPassword" value="{{ userdata.password }}" name="pwd">
              </div>
            </div>
            {% load mytags %}
            {% if request.user|role_at_least:"Manager" %}
             <div class="mb-3 row">
              <label for="inNume" class="col-sm-2 col-form-label">Nume</label>
              <div class="col-sm-10 pt-2">
                <input autocomplete="off" type="text" class="form-control fs-2" id="inNume" value="{{ userdata.nume }}" name="nume">
              </div>
            </div>
             <div class="mb-3 row">
              <label for="inRole" class="col-sm-2 col-form-label">Statut</label>
{#              <div class="col-sm-10 pt-2">#}
{#                <input autocomplete="off" type="text" class="form-control fs-2" id="inRole" value="{{ userdata.role }}" name="role">#}
{#              </div>#}
             <div class="col-sm-10 pt-2">
                 <select id="inRole" class="form-select fs-2" aria-label="Select statut" name="role">
                  <option {% if userdata.role == "Angajat" %}selected{% endif %} value="Angajat">Angajat</option>
                  <option {% if userdata.role == "Manager" %}selected{% endif %} value="Manager">Manager</option>
                  <option {% if userdata.role == "Admin" %}selected{% endif %} value="Admin">Admin</option>
                 </select>
             </div>
            </div>
            {% endif %}
            <div class="mb-3 row">
                <div class="d-flex flex-row justify-content-around">
                    <button type="reset" onclick="toogleViewModif()" class="btn btn-danger fs-3" >Anuleaza</button>
                    <button type="button" class="btn btn-success fs-3" data-bs-toggle="modal" data-bs-target="#modalSaveEdit" >Salveaza</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

window.addEventListener('load', ()=> {
    document.getElementById('btnSaveEdit').addEventListener("click", function () {
        document.forms['myform'].submit()
    })
})

function toogleView(domname){
    elem = document.getElementById(domname);
    if(elem.classList.contains("d-none"))
        elem.classList.remove("d-none");
    else elem.classList.add("d-none");
}

function toogleViewPwd(){
    var x = document.getElementById("inputPwd");
    var btn = document.getElementById("btnPwd");
    if (x.type === "password") {
      x.type = "text";
      btn.innerHTML = "<i class='fa-solid fa-eye-slash'></i>";
    } else {
      x.type = "password";
      btn.innerHTML = "<i class='fa-solid fa-eye'></i>";
    }
}

function toogleViewModif(){
    toogleView('divDetalii')
    document.getElementById('inUsername').value = '{{ userdata.username }}'
    document.getElementById('inEmail').value = '{{ userdata.email }}'
    document.getElementById('inTelefon').value = '{{ userdata.telefon }}'
    document.getElementById('inPassword').value = '{{ userdata.password }}'
    try {
        document.getElementById('inNume').value = '{{ userdata.nume }}'
        document.getElementById('inStatut').value = '{{ userdata.statut }}'
    } catch (e) {}
}

</script>
{% endblock %}