{% load mytags %}
<nav class="navbar navbar-expand-xxl navbar-light bg-light fs-1">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav vw-100 me-auto mb-2 mb-lg-0">
        <li class="nav-item ms-5">
          <a class="nav-link active text-nowrap" aria-current="page" href="{% url 'home' %}"><i class="fa-solid fa-house me-3"></i>Acasa</a>
        </li>
        <li class="nav-item dropdown ms-4">
          <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-list-check me-3"></i> Activitate
          </a>
          <ul class="dropdown-menu fs-5" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item" href="{% url 'actToday' %}">Azi</a></li>
            <li><a class="dropdown-item" href="{% url 'actYesterday' %}">Ieri</a></li>
            <li><a class="dropdown-item" href="{% url 'act2daysAgo' %}">Alaltaieri</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'actLast3' %}">Ultimele 3 zile</a></li>
            <li><a class="dropdown-item" href="{% url 'actLast7' %}">Ultima saptamana</a></li>
            <li><a class="dropdown-item" href="{% url 'actGetPeriod' %}">Alege o perioada</a></li>
            {% if user.is_authenticated and request.user|role_at_least:"Manager" %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-success" href="{% url 'actGetPeriodUser' %}">Adauga o activitate</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="{% url 'actDelete' %}">Sterge mai multe activitati</a></li>
            {% endif %}
          </ul>
        </li>
        {% if user.is_authenticated and request.user|role_at_least:"Manager" %}
        <li class="nav-item dropdown ms-4">
          <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-table-list"></i> Raport
          </a>
          <ul class="dropdown-menu fs-5" aria-labelledby="navbarDropdown2">
            <li><a class="dropdown-item" href="{% url 'intrare' %}"> <i class="fa-solid fa-person-walking-arrow-loop-left"></i> Ajungeri</a></li>
            <li><a class="dropdown-item" href="{% url 'iesire' %}"> <i class="fa-solid fa-person-walking-arrow-right"></i> Plecari</a></li>
            <li><a class="dropdown-item" href="{% url 'comenzi' %}"> <i class="fa-solid fa-box"></i> Comenzi</a></li>
            <li><a class="dropdown-item" href="{% url 'lucrari' %}"> <i class="fa-solid fa-briefcase"></i> Lucrari</a></li>
          </ul>
        </li>
        {% endif %}
        <li class="nav-item dropdown ms-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user me-3"></i>Cont
          </a>
          <ul class="dropdown-menu fs-5" aria-labelledby="navbarDropdown3">
                <li><a class="dropdown-item" href="{% url 'detalii' %}"> <i class="fa-solid fa-circle-info"></i> Detalii</a></li>
                {% if user.is_authenticated and request.user|role_at_least:"Manager" %}
                <li><a class="dropdown-item" href="{% url 'utilizatori' %}"> <i class="fa-solid fa-user"></i> Vezi Angajatii</a></li>
                <li><a class="dropdown-item" href="{% url 'setari' %}"> <i class="fa-solid fa-gear"></i> Setari</a></li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'mylogout' %}"> <i class="fa-solid fa-right-from-bracket"></i> Log out</a></li>
          </ul>
        </li>
        <li class="nav-item ms-4">
            <a class="nav-link text-nowrap" aria-current="page" href="{% url 'about' %}"><i class="fa-solid fa-circle-question"></i> Ajutor</a>
        </li>
      </ul>
    </div>
  </div>
</nav>